{% extends "layout.html" %}

{% block content %}

    

    <form action="/multiplica" method="get" class="form-inline">
        <label class="sr-only" for="numero">Número</label>
        <input type="number" id="numero" name="numero" class="form-control mb-2 mr-sm-2 mb-sm-0">
        <input type="submit" value="Enviar"  class="btn btn-primary"/>
    </form>
    {% endblock %}
    {% block scripts %}
    <script src="{{url_for('static',filename='desactivar.js')}}" type="module"></script>
    {% endblock %}